<!DOCTYPE html>
<html lang="en">
	<head>
	{% load staticfiles %}
	<title>500 Error | HarvardX Threads Tool</title>
	<link rel="stylesheet" type='text/css' href='{% static "css/juryx-style.css" %}'>
	<script type='text/javascript' src='{% static "js/jquery-2.1.3.js" %}'></script>
	<link rel="stylesheet" type='text/css' href='{% static "css/font-awesome.css" %}'>
	<script type='text/javascript' src='{% static "js/threads.js" %}'></script>
	</head>
	<body>
		<div class='drawer drawer-contents'>
            <div class='drawer drawer-header'>
                <i class='fa fa-tags'></i> Topics
            </div>
        </div>
		<div class='drawer drawer-left'>
            <div class='drawer drawer-button closed'>
                <div class='button'>
                    <i class='fa fa-home' data-url="{% url 'threads:filter_topic' topic='Current'%}"></i>
                    <span class='button-badge' id='thread-button' style='display:none' data-counter="0"></span>
                </div>
        	</div>
        </div>
        <div class="error-view">
        	<h1>Uh oh!</h1>

        	<p>Something has gone terribly wrong! Refresh the page or renavigate to your assignment in edX (assuming you've left) and refresh the page there.</p>
        </div>
	</body>
</html>